.col-md-4
  .card.book-card
    %a
      = image_tag 'https://images-na.ssl-images-amazon.com/images/I/91p0SdYseNL._AC_UL320_SR214,320_.jpg', class: 'card-img-top'
    .card-body
      %h5.card-title
        %a 
          = book.title
          %span.badge.badge-pill.badge-success.float-right
            = number_to_currency book.price, precision: 1
      %p
        ISBN-10:
        = book.isbn_10
        %br
        ISBN-13:
        = book.isbn_13
      %a.card-link
        Amazon
      %a.card-link
        Ebay
  %br