.col-md-4
  .card.book-card
    %a
      = image_tag book.image.url, class: 'card-img-top'
    .card-body
      %span.price-circle
        = number_to_currency book.price, precision: 1      
      %h5.card-title
        %a 
          = book.title
      %p.small
        ISBN-10:
        = book.isbn_10
        %br
        ISBN-13:
        = book.isbn_13
      %a.card-link
        .badge.badge-primary
          Amazon
      %a.card-link
        .badge.badge-success
          Ebay
  %br