= simple_form_for @book do |f|
  = f.input :category_id, as: :select, collection: Category.all.map{|cat| [cat.ancestry_name, cat.id]}
  = f.input :title
  = f.input :description
  = f.input :price
  = f.input :isbn_10
  = f.input :isbn_13
  = f.input :image
  = f.submit class: 'btn btn-primary btn-lg'
  &nbsp;|&nbsp;
  = link_to 'cancel', books_path