= simple_form_for @category do |f|
  = f.input :parent_id, as: :select, collection: Category.roots
  = f.input :name
  = f.submit class: 'btn btn-primary btn-lg'
  &nbsp;|&nbsp;
  = link_to 'cancel', categories_path