%h1
  List Categories
  %a.btn.btn-primary.btn-lg.float-right{href: new_category_path}
    %i.fa.fa-plus
    Add new

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th
        Name
      %th
        Parent
      %th
  %tbody
    - @categories.each do |category|
      %tr
        %td
          = category.name
        %td
          = category.parent_name
        %td
          = link_to category_path(category), class: 'btn btn-success' do
            %i.fa.fa-eye
          &nbsp;
          = link_to edit_category_path(category), class: 'btn btn-warning' do
            %i.fa.fa-pencil
          &nbsp;
          = link_to category_path(category), method: :delete, data: {confirm: "Are you sure you want to delete this category"}, class: 'btn btn-danger' do
            %i.fa.fa-times
